Analisar Aries Framerwork Kotlin e Swift

Analise preliminar do Aries Framework Kotlin e Swift


Implementa:
- RFC 0160: Connection Protocol
- RFC 0211: Mediator Coordination Protocol
- RFC 0095: Basic Message Protocol
- RFC 0036: Issue Credential Protocol
- RFC 0037: Present Proof Protocol Does not implement alternate begining (Prover begins with proposal)
- RFC 0434: Out of Band Protocol (AIP 2.0)
- RFC 0023: DID Exchange Protocol (AIP 2.0)

Nao implementa:

- RFC 0453: Issue Credential Protocol 2.0
- RFC 0454: Present Proof Protocol 2.0
- RFC 0721: Revocation Notification 2.0

Lista Original do que ia precisar fazer:
- Askar (Aries) Wallet - Resolvido
- Out-of-Band (RFC 0434) - Resolvido
- Mediation (RFC 0046)  - Resolvido
- Basic Message (RFC 0095) - Resolvido
- Conexão agnóstica de rede Indy - Resolvido
- Issue Credential Protocol V 1.0 - Resolvido
- Present Proof Protocol  V 1.0 - Resolvido
- Revocation Notification  V 1.0 - Resolvido

Nao resolvido:
- Conexão agnóstica de rede Besu  
- Issue Credential  (RFC 0453) V 2.0
- Present Proof  (RFC 0454) V 2.0
- Revocation Notification (RFC 0721) V 2.0